Django==1.4.3
PIL==1.1.7
South==0.7.6
django-classy-tags==0.4
django-cms==2.3.5
django-form-designer==0.7.0
django-grappelli==2.4.3
django-modeltranslation==0.5b1
django-mptt==0.5.5
django-picklefield==0.3.0
django-rosetta==0.6.8
django-sekizai==0.7
django-selectable==0.6.2
django.js==0.5
djangocms-column==1.1.2
html5lib==0.95
six==1.2.0
wsgiref==0.1.2
