{% extends 'content_product.html' %}
{% load i18n %}
{% block head_title %}{{ category.name }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block meta-description %}{{ category.meta_description }}{% endblock %}
{% block meta-keywords %}{{ category.meta_keywords }}{% endblock %}


{% block prodoct_left %}
    {% include "products/elements/product_leftmenu.html" %}
{% endblock %}


{% block content %}
    {% block content-title %}
        <h3>{% if category.parent.name %}{{ category.parent.name }} &gt; {% endif %}{{ category.name }}</h3>
    {% endblock %}
    {% if products %}
        <table  id="product" width="640" align="center" cellspacing="0" cellpadding="0">
            <thead>
            {% if category.product_type.id == 1 %}
                <tr>
                    <td width="80">{{ category.header1_name }}</td>
                    <td width="180">{% if category.show_image == True %}{{ category.header2_name }}{% endif %}</td>
                    <td width="170">{{ category.header3_name }}</td>
                    <td width="250">{{ category.header4_name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td width="80">{% trans "Yüksel No" %}</td>
                    <td width="180">{% trans "Picture" %}</td>
                    <td width="170">OEM No</td>
                    <td width="250">{% trans "Description" %}</td>
                </tr>
            {%  endif %}
            </thead>
            <tbody>
            {% for product in products %}
                <tr style="cursor: pointer;" onmouseover="this.bgColor='#F7F7F7'" onmouseout="this.bgColor='#FEFEFE'">
                	<td>{% if category.can_go_to_detail_page == 1 %}<a href="{{ product.get_absolute_url }}">{{ product.yuksel_no }}</a>{% else %}{{ product.yuksel_no }}{% endif %}</td>
                    <td>
                        {% if category.show_image == 1 %}
                        <div class="imageRow">
                            <div class="single">
                                {% if category.can_go_to_detail_page == 1 %}<a href="{{ product.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.title }}" width="100"></a>{% else %}<a rel="lightbox" href="{{MEDIA_URL}}{{ product.image }}"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.title }}" width="100"></a>{% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                    <td>{% if category.can_go_to_detail_page == 1 %}<a href="{{ product.get_absolute_url }}">{{ product.oem|linebreaksbr }}</a>{% else %}{{ product.oem|linebreaksbr }}{% endif %}</td>
                    <td class='last-column'>{% if product.description != None %}
                                                {% if category.can_go_to_detail_page == 1 %}
                                                    <a href="{{ product.get_absolute_url }}">{{ product.description|safe }}</a>
                                                {% else %}
                                                    {{ product.description|safe }}
                                                {% endif %}
                                             {% else %}
                                                &nbsp;
                                             {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <table id="product" width="640" align="center" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <td width="80">{% trans "Yüksel No" %}</td>
                <td width="180">{% trans "Picture" %}</td>
                <td width="170">OEM No</td>
                <td width="250">{% trans "Description" %}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4"><p>{% trans "There are no products." %}</p></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}