{% extends 'content_product.html' %}
{% load i18n %}
{% block head_title %}{{ category.name }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block meta-description %}{{ category.meta_description }}{% endblock %}
{% block meta-keywords %}{{ category.meta_keywords }}{% endblock %}


{% block prodoct_left %}
    {% include "products/elements/product_leftmenu.html" %}
{% endblock %}


{% block content %}
    {% block content-title %}
        <h1>{% if category.parent.name %}{{ category.parent.name }} &gt; {% endif %}{{ category.name }}</h1>
    {% endblock %}

    {% if products %}
        <table>
            {% for product in products %}
                <tr>
                    <td><a href="{{ product.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ product.image }}"
                                                                      alt="{{ product.title }}" width="100"></a></td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.oem }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "There are no products." %}</p>
    {% endif %}
{% endblock %}