{% extends 'content_product.html' %}
{% load i18n %}
{% block head_title %}{{ category.name }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block meta-description %}{{ category.meta_description }}{% endblock %}
{% block meta-keywords %}{{ category.meta_keywords }}{% endblock %}


{% block prodoct_left %}
    {% include "products/elements/product_leftmenu.html" %}
{% endblock %}


{% block content %}
    {% block content-title %}
        <h3>{% if category.parent.name %}{{ category.parent.name }} &gt; {% endif %}{{ category.name }}</h3>
    {% endblock %}

    {% if products %}
        <table  id="product" width="640" align="center" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <td width="120">{% trans "Yüksel No" %}</td>
                <td>{% trans "Image" %}</td>
                <td width="170">{% trans "OEM Numbers" %}</td>
                <td>{% trans "Description" %}</td>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr style="cursor: pointer;" onmouseover="this.bgColor='#F7F7F7'" onmouseout="this.bgColor='#FEFEFE'">
                    <td><a href="{{ product.get_absolute_url }}">###</a></td>
                    <td>
                        <div class="imageRow">
                            <div class="single">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.title }}" width="100"></a>
                            </div>
                        </div>
                    </td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.oem }}</a></td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.description }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <table id="product" width="640" align="center" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <td width="120">{% trans "Yüksel No" %}</td>
                <td>{% trans "Image" %}</td>
                <td width="170">{% trans "OEM Numbers" %}</td>
                <td>{% trans "Description" %}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4"><p>{% trans "There are no products." %}</p></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}