{% extends 'content_product.html' %}
{% load i18n %}
{% block head_title %}{{ product.title }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
    <h1>{{ product.title }}</h1>
    <h4>{{ product.category.parent.name }} &gt; <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></h4>
    <p><img src="{{MEDIA_URL}}{{ product.image }}" alt=""></p>
    <p>OEM: {{ product.oem }}</p>
    <p>{% trans "Engine" %}: {{ product.engine }}</p>
    <p>{% trans "Type" %}: {{ product.type }}</p>
    <p>{% trans "Details" %}: {{ product.description }}</p>
    <p>{{ product.created }}</p>
{% endblock %}

{% block prodoct_left %}
    {% include "elements/product_leftmenu.html" %}
{% endblock %}