{% extends 'content_product.html' %}
{% load i18n %}
{% block head_title %}{{ product.title }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}
{% block meta-description %}{{ product.meta_description }}{% endblock %}
{% block meta-keywords %}{{ product.meta_keywords }}{% endblock %}

{% block content %}
    <div class=pr-child-title>{{ product.category.parent.name }} &gt; <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></div>
    <h2>{{ product.title }}</h2>
    <table class="product-details" width="640" cellspacing="0" cellpadding="0">
        <tr>
            <th align="left" width="135">{% trans "Yüksel No" %} : {{ product.yuksel_no }}</th>
            <th width="135">{% trans "OEM Numbers" %}</th>
            <th width="145">{% trans "Type" %} / {% trans "Model" %}</th>
            <th width="145">{% trans "Engine" %}</th>
        </tr>
        <tr>
            <td>
                <div class="imageRow">
                    <div class="single"><a rel="lightbox" href="{{MEDIA_URL}}{{ product.image }}"><img src="{{MEDIA_URL}}{{ product.image }}" alt="" width="115"/></a></div>
                </div>
            </td>
            <td align="center">{{ product.oem|linebreaksbr }}</td>
            <td align="center">{{ product.type|safe }}</td>
            <td align="center">{{ product.engine|linebreaksbr }}</td>
        </tr>
        <tr>
            <!--<td align="center">{{ product.detail|safe }}&nbsp;</td>-->
            <td colspan="4">{{ product.detail|safe }}</td>
        </tr>
    </table>
{% endblock %}

{% block prodoct_left %}
    {% include "products/elements/product_leftmenu.html" %}
{% endblock %}