{% load cms_tags menu_tags %}
<div id="footer-wall">
    <div class="footer">
        <div class="footer-menu">
            <ul>
                {% show_menu 0 100 0 0 %}
                <!--<li><a href="index.php">ANASAYFA</a></li>
                <li><a href="#">FİRMA</a></li>
                <li><a href="#">HAKKIMIZDA</a></li>
                <li><a href="urunler.php">SU POMPALARI</a></li>
                <li><a href="ithal_urunler.php">İTHAL ÜRÜNLER</a></li>
                <li><a href="#">ÜRÜN TALEP FORMU</a></li>
                <li><a href="#">SERTİFİKALAR</a></li>
                <li><a href="#">İNSAN KAYNAKLARI</a></li>
                <li><a href="#">İLETİŞİM</a></li>
                <li><a href="#">FAALİYETLER</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div id="footer-end-wall">
    <center><img border="0" src="{{ MEDIA_URL }}img/flash_shadow.gif"/></center>
        <center>
        <div id="end-wall">
            <div class="adres">
                <p>Taksim Caddesi No:53 Taksim / İstanbul - Türkiye </p>
                <p>TEL : (0212) 254 75 50 (pbx)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX : (0212) 250 50 58&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-MAIL : yuksel@yukselautomotive.com</p>
            </div>
            <div class="design">
                <div class="social-wall">
                    <ul class="ul-social">
                        <li id="social"><a class="social twitter" href="#"></a></li>
                        <li id="social"><a class="social facebook" href="#"></a></li>
                    </ul>
                </div>
                <div class="copy">© Copyright Yüksel Automotive 2013</div>
                <div class="designby">Design By <a href="http://www.bigagora.com/">Bigagora.com</a></div>
            </div>
        </div>
    </center>
</div>
