<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/banner.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lightbox.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/script.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox.js"></script>