<script type="text/javascript">
    var system="siteneekle";
    var para_birimleri="USD-EUR";
    var arkaplan="/media/img/kutucukbg.jpg";
    var baslik="293873";
    var cerceve="/media/img/kutucukbg.jpg";
    var turbaslik="999999";
    var kutucuk="/media/img/kutucukbg.jpg";
    var fiyat="CC3300";
    var genislik="278";
    var konum="center";
    var yatay="2";
    var slide="yok";
    var dikey="1";
    var paylasim="kapali";
</script>
<a id="altin_doviz_kuru_ekle" target="_blank"  href="http://www.altin.net.tr/">altın fiyatları</a>
<script type="text/javascript" charset="UTF-8" src="http://www.altin.net.tr/js/doviz2.js"></script>
