<div class="product-demand">
<h2>PRODUCT REQUEST FORM</h2>
<form action="/pumps/send_form/" method="post">
<table align="left">
<tbody>
<tr>
<td>Company Name</td>
<td><input class="text" type="text" name="FirmaIsmi" /></td>
</tr>
<tr>
<td>Authorized Person</td>
<td><input class="text" type="text" name="Yetkili" /></td>
</tr>
<tr>
<td>Address</td>
<td><textarea name="Adres" rows="3"></textarea></td>
</tr>
<tr>
<td>Email</td>
<td><input class="text" type="text" name="Email" /></td>
</tr>
</tbody>
</table>
<table align="left">
<tbody>
<tr>
<td>Phone</td>
<td><input class="text" type="text" name="Tel" /></td>
</tr>
<tr>
<td>Fax</td>
<td><input class="text" type="text" name="Faks" /></td>
</tr>
<tr>
<td>Web</td>
<td><input class="text" type="text" name="Web" /></td>
</tr>
</tbody>
</table>
<div style="height: 30px;">&nbsp;</div>
<div class="tarih">DATE : <input type="text" name="g&uuml;n" size="2" /> / <input type="text" name="ay" size="2" /> / <input type="text" name="yil" size="4" /></div>
<table width="796" cellspacing="0">
<tbody>
<tr><th class="ilk">ITEM NO</th><th align="left">Y&Uuml;KSEL NO OR PRODUCT NO</th><th align="left">OEM NO</th><th>DESCRIPTION</th><th>QUANTITY</th><th>PRICE</th><th>TOTAL</th></tr>
<tr>
<td><textarea class="text" type="text" name="Satir_1" size="3" style="height: 400px;width: 40px" ></textarea></td>
<td><textarea class="text" type="text" name="YukselNo_1" size="16" style="height: 400px;width: 195px" ></textarea></td>
<td><textarea class="text" type="text" name="Oem_1" size="16" style="height: 400px;width: 120px" ></textarea></td>
<td><textarea name="Aciklama_1" rows="2" cols="30" style="height: 400px;width: 240px"></textarea></td>
<td><textarea class="text" type="text" name="Adet_1" size="4" style="height: 400px;width: 72px" ></textarea></td>
<td><textarea class="text" type="text" name="Fiyat_1" size="7" style="height: 400px;width: 60px" ></textarea></td>
<td><textarea class="text" type="text" name="Tutar_1" size="7" style="height: 400px;width: 60px" ></textarea></td>
</tr>
<tr>
<td style="padding-top: 18px; padding-bottom: 15px;" colspan="7"><input type="submit" name="send" value="SEND" /></td>
</tr>
</tbody>
</table>
</form></div>