{% extends 'content_product.html' %}
{% load i18n %}
{% block head_title %}{{ product.title }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}
{% block meta-description %}{{ product.meta_description }}{% endblock %}
{% block meta-keywords %}{{ product.meta_keywords }}{% endblock %}

{% block content %}
    <div class=pr-child-title>{{ product.category.parent.name }} &gt; <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></div>
    <h2>{{ product.title }}</h2>
    <table class="pr-detail" width="640" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="12" align="right">{{ product.created }}</th>
        </tr>
        <tr>
            <th width="65">{% trans "Yüksel No" %}</th>
            <th width="3">:</th>
            <td width="90">{{ product.yuksel_no }}</td>
            <th width="85">{% trans "OEM Numbers" %}</th>
            <th width="3">:</th>
            <td >{{ product.oem }}</td>
            <th width="65">{% trans "Type" %} / {% trans "Model" %}</th>
            <th width="3">:</th>
            <td>{{ product.type }}</td>
            <th width="40">{% trans "Engine" %}</th>
            <th width="3">:</th>
            <td class="last">{{ product.engine }}</td>
        </tr>
        <tr>
            <th colspan="3" rowspan="2" class="images">
                <div class="imageRow">
                    <div class="single"> <a rel="lightbox" href="{{MEDIA_URL}}{{ product.image }}"><img src="{{MEDIA_URL}}{{ product.image }}" alt="" width="175"></a> </div>
                </div>
            </th>
            <th class="description" height="14">{% trans "Description" %}</th>
            <th>:</th>
            <th colspan="7">&nbsp;</th>
        </tr>
        <tr>
            <td colspan="9" class="description last">{{ product.description }}</td>
        </tr>
    </table>
{% endblock %}

{% block prodoct_left %}
    {% include "products/elements/product_leftmenu.html" %}
{% endblock %}