body {margin:0; padding:0; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#515151;  background:none repeat scroll 0 0 #C8C9CB; }

table, tr, td {
    color: #515151;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {color:#005CA1; margin:5px 0 22px !important;}

img {border:none}

p {line-height: 18px; text-align: justify; text-indent:10px;}

.ct_title {color:#005CA1; font-weight:bold; text-decoration:none; margin-bottom:12px;text-align: center;font-size: 14px;}
.ct_title_small {color:#515151; font-weight:bold; text-decoration:none; margin-bottom:12px;text-align: center}
.ct_title_tiny {color:#515151; font-weight:bold; text-decoration:none; margin-bottom:12px;text-align: center;font-size: 11px}

.pr-child-title {color:#515151; font-weight:bold; font-size:12px; margin:6px 0 27px}

#header-wall {clear:both; background:none repeat scroll 0 0 #FFFFFF; height:164px;}
#header-wall .header-bar {clear:both; background:none repeat scroll 0 0 #C8C9CB; height:23px;  border-bottom: 1px solid #B6B7B9;}
#header-wall .header-bar div.bar {width:893px; margin:auto; background:url("/media/img/header-bar.png") no-repeat scroll right 0 transparent; height:48px;}
#header-wall .header-bar div.bar .flags {text-align:right; padding:6px 33px 0 0;}
#header-wall .header {width:960px; margin:auto; margin-top:19px;}
#header-wall .header p.logo {text-align:left; float:left}
#header-wall .header p.header-img{text-align:right; float:right}

#menu-wall {clear:both; background:url(/media/img/menu-bg.png) repeat-x #1B2940;}
#menu-wall .menu {margin:auto; text-align:center; /* padding:11px 0 12px; */}
#menu-wall .menu ul {list-style:none outside none; padding:11px 0 12px;}
#menu-wall .menu ul li {display:inline; /* height:48px; */}
#menu-wall .menu ul li.selected {background:url(/media/img/transparent.png) repeat; color:#1B2940; padding:12px 0;}
#menu-wall .menu ul li.selected a {color:#1B2940;padding:11px 10px 12px 10px;}
#menu-wall .menu ul li a {color:#FFF; font-size:13px; font-weight: bold; padding:11px 10px 12px 10px; text-decoration: none;}
#menu-wall .menu ul li a:hover {background:url(/media/img/transparent.png) repeat; color:#1B2940}

.flash-shadow {clear:both; background:none repeat scroll 0 0 #DBDBDB;}

#banner-wall {clear:both; height:310px; border-top: 5px solid #1484C5;}
#banner-wall-alt {height:9px; background:url(/media/img/line.png) repeat-x #fff;}

#content-wall {background:url(/media/img/content-bg.jpg) repeat-x #FFF; clear:both; overflow:auto;}

#content-wall .content-table {width:960px; min-height:530px; margin:auto; padding:12px 0 25px; background:#FFF}
#content-wall .content-table tr td {vertical-align:top; width:320px; padding:10px 20px;}
#content-wall .content-table tr td p {width:280px; margin-top:12px}

#content-wall .change-product-img {text-align:center;}
#content-wall .change-product-img img { background:#FFF; padding:12px 0; }

#content-wall .form-icerik-arama {width:280px; height:354px; padding:6px;}
#content-wall .form-icerik-arama tr td {vertical-align:middle; padding:6px 0 0;}
#content-wall .form-icerik-arama tr td input{ margin-left: 8px; padding-left: 6px; }

#content-wall .form-urun-arama {width:250px; padding:0 9px}
#content-wall .form-urun-arama tr td {vertical-align:bottom; padding:0 0 6px 0}
#content-wall .form-urun-arama tr td select {padding: 3px 0; width: 250px;}

#content-wall .doviz-kuru {width:278px; margin:30px 0 0; border:1px solid #C1BFBF;}

#content-wall .content-left-right {width:960px; min-height:670px; margin:auto; padding:12px 0 25px; background:#FFF}

#content-wall .content-left-right .content {padding:5px 17px; min-height:600px; overflow:auto}

#content-wall .content-left-right .left-column{width:279px; float:left; padding:10px}

#content-wall .content-left-right .left-column .change-product-img {width:232px; height:181px; padding:0; background:#F6F6F6; border:1px solid #C1BFBF;}
#content-wall .content-left-right .left-column .change-product-img img {width:200px; height:150px; margin:9px; padding:5px; background:#FFF; border:1px solid #C1BFBF;}


#content-wall .content-left-right .left-column div.wall {width:265px; min-height:660px; overflow:auto; padding:6px; border:1px solid #BDBDBD; background:url(/media/img/wall_bg.jpg) repeat-x #CFCFCF; text-align:center;}
#content-wall .content-left-right .left-column div.wall span {}
#content-wall .content-left-right .left-column div.wall span.ct_title {margin:12px 0; display:block; font-size:22px; }

/*
#content-wall .content-left-right .left-column div.wall ul#product-title_list {list-style:none; margin-top:25px; text-align:left;}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li {padding:10px 3px; font-weight:bold;}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li a {color:#515151; text-decoration:none}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li a:hover {text-decoration:underline}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li ul {list-style:none; margin:6px 0 0 0;}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li ul li{padding:4px 10px; font-size:10px;}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li ul li a {font-size:10px; font-weight:normal}
#content-wall .content-left-right .left-column div.wall ul#product-title_list li ul li a:hover {text-decoration:underline}
*/


#content-wall .content-left-right .right-column{width:650px; float:left; padding:10px 10px 10px 0;}
#content-wall .content-left-right .right-column .content {padding:7px;}
#content-wall .content-left-right .right-column .content .product-titile {width:128px; font-size:10px; font-weight: bold; display:block; margin:8px 0}

/*
#content-wall .content-left-right .right-column .content table {}
#content-wall .content-left-right .right-column .content table tr td {padding:3px 15px;}
#content-wall .content-left-right .right-column .content table tr td div {width:280px;}
#content-wall .content-left-right .right-column .content table tr td p {margin-bottom:15px; color:#515151; }
#content-wall .content-left-right .right-column .content table tr td p.ct_title {color:#293873;}
#content-wall .content-left-right .right-column .content table tr td img {border:1px solid #CECECE; margin-bottom:15px;}
*/

#content-wall .content-left-right .right-column .content table#product {margin-top:20px; border:1px solid #1484C5; border-bottom:none; text-align:center;}
#content-wall .content-left-right .right-column .content table#product .imageRow {width:116px}

#content-wall .content-left-right .right-column .content table#product thead tr td {background:#1484C5; padding:8px; border-bottom:none;  font-weight:bold; color:#FFF; font-size:13px }

#content-wall .content-left-right .right-column .content table#product tbody tr {/*background:#ffdddd*/}
#content-wall .content-left-right .right-column .content table#product tbody tr td {padding:8px; border-bottom:1px solid #1484C5; vertical-align: middle;}
#content-wall .content-left-right .right-column .content table#product tbody tr td img {/*width:125px;*/ background:#FFF; border:1px solid #C1BFBF; margin:0}
#content-wall .content-left-right .right-column .content table#product tbody tr td a{text-decoration:none; font-size:12px; color:#3C4D68}

#content-wall .content-left-right .right-column .content table.pr-detail {border:1px solid #1484C5; border-bottom:none; margin-top:40px;}
#content-wall .content-left-right .right-column .content table.pr-detail tr {}
#content-wall .content-left-right .right-column .content table.pr-detail tr td {border-right:1px solid #1484C5;}
#content-wall .content-left-right .right-column .content table.pr-detail tr td.last {border-right:none;}
#content-wall .content-left-right .right-column .content table.pr-detail tr th.images {border-right:1px solid #1484C5;}
#content-wall .content-left-right .right-column .content table.pr-detail tr th.description, #content-wall .content-left-right .right-column .content table.pr-detail tr td.description {vertical-align:top;}
#content-wall .content-left-right .right-column .content table.pr-detail tr th, table.pr-detail tr td {padding:8px; border-bottom:1px solid #1484C5; vertical-align: middle;text-align:left}


#content-wall .content-left-right .change-product-img {width:220px; height:170px; text-align:center; background:#F6F6F6; border:1px solid #C1BFBF;}
#content-wall .content-left-right .change-product-img img { background:#FFF; border:1px solid #C1BFBF; margin-top:10px; }

#content-wall .content-left-right .doviz-kuru {width:278px; margin:30px 0 0; border:1px solid #C1BFBF;}


#footer-wall {clear:both; background:none repeat scroll 0 0 #2A3951}
#footer-wall .footer {/* width:1000px; */ margin:auto;}
#footer-wall .footer .footer-menu {padding:10px 30px; text-align:center;}
#footer-wall .footer .footer-menu ul {list-style: none outside none;}
#footer-wall .footer .footer-menu ul li {display: inline; font-variant: small-caps;}
#footer-wall .footer .footer-menu ul li a {color:#FFF; font-size:11.4px; font-weight: bold; padding:2px 10px; text-decoration: none;}
#footer-wall .footer .footer-menu ul li a:hover {text-decoration:underline;}

#footer-end-wall {clear:both; background:none repeat scroll 0 0 #DADADA}
#footer-end-wall #end-wall {width:1000px; margin:auto; height:105px; background: none repeat scroll 0 0 #DADADA;}
#footer-end-wall #end-wall .adres {width:550px; float:left; text-align:left; padding:5px 30px; color: #1B2940; font-family: Arial; font-size: 12px; margin-top: 21px;}
#footer-end-wall #end-wall .adres p {padding:5px;}

#footer-end-wall #end-wall .design {width:300px; float:left; text-align:right; padding:5px 30px; color: #1B2940; font-family: Arial; font-size: 12px; }


#footer-end-wall #end-wall .design .social-wall {text-align:right; padding:5px; height:37px;}
#footer-end-wall #end-wall .design .social-wall ul.ul-social {list-style: none outside none; }
#footer-end-wall #end-wall .design .social-wall ul.ul-social li { display:block; float: right; list-style: none outside none;}
#footer-end-wall #end-wall .design .social-wall ul.ul-social li#social { margin-left:8px; }
#footer-end-wall #end-wall .design .social-wall ul.ul-social li a { display: block; }
#footer-end-wall #end-wall .design .social-wall ul.ul-social li a.social { background-image: url("/media/img/social-icon.png"); height: 37px; width: 47px; }
.facebook { background-position: -274px 0; }
.twitter { background-position: -44px 0; }
.rss { background-position: -91px 0; }
.google { background-position: -228px 0; }
.linkedin { background-position: -182px 0; }

#footer-end-wall #end-wall .design .copy {clear:both; text-align:right; padding:5px;}
#footer-end-wall #end-wall .design .designby {clear:both; text-align:right; padding:5px;}
#footer-end-wall #end-wall .design .designby a {text-decoration: none; color: #626262;}
#footer-end-wall #end-wall .design .designby a:hover {text-decoration:underline}


.bakis { background:url(/media/img/birbakis_bg.png) no-repeat; height:140px; width:602px; margin:30px 0 0}
.bakis p.bakis-text {width:380px !important; margin:auto; padding:31px 5px 0 115px; font-size: 11.5px;}
.bakis p.bakis-text span {width:380px;}

.adet-table {margin:auto}
.adet-table tr td {padding:0 !important}

.bilgi-table {margin:auto}
.bilgi-table tr td {padding:0 !important}

.label {
    color: #515151;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
}
table.contact-tbl {border:1px solid #1484C5; border-bottom:none; margin:40px;}
table.contact-tbl tr{}
table.contact-tbl tr th, table.contact-tbl tr td{padding:12px; border-bottom:1px solid #1484C5; vertical-align: middle;text-align:left}

/* menu */
ul.root {text-align: left;font-size: 13px;font-weight: bold;}
ul.root li {margin-bottom:12px; border-bottom: 1px solid #808080}
ul.root a,ul.root a:link,ul.root a:visited {text-decoration: none;color: #515151;display: block;padding:6px 5px 5px;}
ul.root a:hover {background-color: #051733;color: white;}
ul.root a.chosen {background-color: #051733;color: white;}

ul.children {font-size: 11px;font-weight: normal; margin:0 8px; list-style:none;}
ul.children li {border-bottom: 1px solid #808080; margin:0; padding:4px 10px 4px 2px}

.plugin_picture { text-align:center;}
.plugin_picture img {
    width:208px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 4px 4px;
    float: left;
    padding:4px;
    margin:6px
}

    .product-demand {text-align:center}
    .product-demand div.logo {padding:0 0 30px}
    .product-demand div.logo span.plugin_picture img {border:none; border-radius:none; float: none; margin:0; width:375px;}
    .product-demand form {width:796px; margin:auto}
    .product-demand div.tarih { text-align:right}
    .product-demand table {border-width:2px 1px 1px 2px; border-style:solid; border-color:#444; margin-top:25px;}
    .product-demand table tr {}
    .product-demand table tr th {border-right: 1px solid #444; border-bottom: 2px solid #444; padding:12px 5px;}
    .product-demand table tr th.ilk {width:30px}
    .product-demand table tr td {border-right: 1px solid #444; border-bottom: 1px solid #444; text-align:center}
    .product-demand table tr td input.text {padding:19px 3px 20px; border:none; } 
    .product-demand table tr td textarea {border:none}


table.product-details {border-width:2px 1px 1px 2px; border-style:solid; border-color:#005CA1;}
table.product-details tr th {border-width:0 1px 1px 0; border-style:solid; border-color:#005CA1; padding:9px; height:16px;  }
table.product-details tr td {border-width:0 1px 1px 0; border-style:solid; border-color:#005CA1; padding:9px; }
table.product-details tr td .imageRow {width:132px; margin:auto;}


#nav li ul {display: none;}
a.home_product_title {padding: 20px; background-color: #f3f3f3; font-size: 14px;font-weight: bold;text-align: center;color: #000000;display: block;text-decoration: none}
a.home_product_title:hover {color: #005CA1}

.pdfdownload {width: 240px; margin: 0 auto;background: url(/media/img/pdf-download.jpg) no-repeat;}
.pdfdownload a {display: block;width: 150px; height: 110px;margin-top: 20px;padding-left: 120px;color: #515151;font-size: 14px;font-weight: bold;}
.pdfdownload a:hover {color: #003366}
.pdfdownload div.text{padding-top: 30px}

.last-column p {text-align: center; text-indent: 0}

.content .back {margin-top: 25px;}

ul.news li {list-style: none}
ul.news li a {display: block;clear: both; border-bottom: 1px solid #fff5ee }
ul.news li img {float: left}
ul.news li h3 {float: left; font-size: 20px;padding-top: 15px;padding-left: 15px;}
ul.news li h3 span.smaller {font-size: 12px;}