{% load cms_tags sekizai_tags menu_tags %}
<html>
  <head>
  	  <title>{% block head_title %}{{ request.current_page.get_title }}{% endblock %} - Yüksel Automotive</title>
	  <meta name="description" content="{% block meta-description %}{% page_attribute meta_description %}{% endblock %}"/>
	  <meta name="keywords" content="{% block meta-keywords %}{% page_attribute meta_keywords %}{% endblock %}"/>
      {% render_block "css" %}
      {% block headertags %}
          {% include "elements/header_tags.html" %}
      {% endblock %}
  </head>
  <body>
      {% cms_toolbar %}
      {% include "elements/header.html" %}
      {% block banner_wall %}
          <div id="banner-wall-alt"> <!-- SİLME --> </div>
      {% endblock %}
      {% block base_content %}{% endblock %}
      {% include "elements/footer.html" %}
      {% render_block "js" %}
  </body>
</html>