{% extends "base.html" %}
{% load cms_tags menu_tags%}


{% block base_content %}
    <div id="content-wall">
        <div class="content-left-right">
            <div class="left-column">
                {% block solsearch %}{% endblock %}{% block solmenu %}
                    <div class="wall">
                    {% block prodoct_left %}{% endblock %}
                    </div>
                    {% endblock %}
                <!--  <div class="change-product-img"><?php include 'change_product_img.php'; ?></div> -->
            </div>
            <div class="right-column">
                <div class="content">
                    {% placeholder content_main_content %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}