{% extends "base.html" %}
{% load cms_tags menu_tags i18n %}

{% block banner_wall %}
    <div id="banner-wall">
        <div id="headerimgs">
            <div id="headerimg0" class="headerimg"></div>
            <div id="headerimg1" class="headerimg"></div>
            <div id="headerimg2" class="headerimg"></div>
        </div>
    </div>
    <div id="banner-wall-alt"> <!-- SİLME --> </div>
{% endblock %}

{% block base_content %}
    <div id="content-wall">
        <table class="content-table" align="center">
            <tr>
                <td>
                    {% placeholder search %}
                </td>
                    {% placeholder new_products_from_yuksel %}

            </tr>
            <tr>
                <td><div class="pdfdownload"><div class="text">{% placeholder download_catalogue %}</div></div></td>
                <td align="center" colspan="2">
                    <div class="bakis">
                        {% placeholder slogan %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}