{% load selectable_tags i18n cms_tags menu_tags %}

<table class="form-icerik-arama" width="280" cellspacing="0" cellpadding="0" border="0" background="{{ MEDIA_URL }}img/catalog-bg.gif" height="354">
    <tr>
        <td colspan="2" valign="middle" align="center" height="22"><span class="ct_title">{% trans "YUKSEL NO / OEM NO SEARCH" %}</span></td>
    </tr>
    <tr>
        <td colspan="2" valign="middle" align="center" height="22"><span class="ct_title">{% trans "(WATER PUMPS)" %}</span></td>
    </tr>
    <tr>
        <td colspan="2"  align="center">
            <form method="get" action="{% page_url "su-pompalari" %}search" id="arama">
                <table width="230">
                    <tr>
                        <td><input type="text" name="oem"/></td>
                        <td><input type="submit" src="{{ MEDIA_URL }}img/btn-search.gif" value="{% trans "Search" %}"/></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr><td colspan="2" valign="bottom" align="center"><img src="{{ MEDIA_URL }}img/hr.gif"/></td></tr>
    <tr><td colspan="2" valign="bottom" align="center"><img src="{{ MEDIA_URL }}img/hr.gif"/></td></tr>
    <tr>
        <td colspan="2" valign="bottom" align="center">
            <form method="get" action="{% page_url "su-pompalari" %}search" id="kategori-arama">
                <table class="form-urun-arama" cellspacing="0" cellpadding="0" border="0">
                    <tr><td valign="bottom" align="left" height="20"><span class="ct_title">{% trans "Category" %}</span></td></tr>
                    <tr>
                        <td valign="bottom" align="left">
                            <select name="urun_kategori" id="root_category"><option>{% trans "Please Choose" %}</option>
                            {% for category in root_categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                            </select>

                        </td>
                    </tr>
                    <tr><td valign="bottom" align="left" height="20"><span class="ct_title">{% trans "Brand" %}</span></td></tr>
                    <tr>
                        <td valign="bottom" align="left">
                            <select id="marka" name="marka">
                                <option value="0">{% trans "^-- Please Choose Category" %}</option>
                            </select>
                        </td>
                    </tr>
                    <!--   <tr><td valign="bottom" align="left" height="20"><span class="ct_title">Model</span></td></tr>
                      <tr>
                          <td valign="bottom" align="left">
                              <select name="model"><option>Seçiniz</option></select>
                          </td>
                      </tr>

                     <tr><td valign="bottom" align="left" height="20"><span class="ct_title">Ürün Grubu</span></td></tr>
                      <tr>
                          <td valign="bottom" align="left">
                              <select name="urun_grub"><option>Seçiniz</option></select>
                          </td>
                      </tr> -->
                    <tr><td valign="top" align="right" height="25"><input type="submit" value="{% trans "Search" %}"/></td></tr>
                </table>
            </form>
        </td>
    </tr>
    <!-- <tr><td colspan="2" valign="bottom" align="center"><img src="{{ MEDIA_URL }}img/hr.gif"/></td></tr> -->
    <tr>
        <td colspan="2" valign="bottom" align="center"></td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function() {
        //console.log(Django.url('search_sub_category',1));
        $('#root_category').change(function() {
            $.get("{% page_url "su-pompalari" %}ajax/"+$(this).val(),
                    function(data) {
                        var sel = $("#marka");
                        sel.empty();
                        for (var i=0; i<data.length; i++) {
                            sel.append('<option value="' + data[i].pk + '">' + data[i].name + '</option>');
                        }
                    }, "json");
        });
    });
</script>